<div class="row">            
  <!--team-1-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="strategies" (click)="onStrategiesClick()">                            
              <h1><i class="fa fa-database fa-lg"></i>Strategies</h1>
              <p>Strategies and betting</p>
          </div> 
      </div>
  </div>
  <!--team-1-->

  <!--team-2-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="pendingPicks" (click)="onPendingPicksClick()"> 
              <h1><i class="fa fa-hourglass-2 fa-lg"></i>Pending Picks</h1>
              <p>1st Pending Pick</p>
              <p>2nd Pending Pick</p>
              <p>3rd Pending Pick</p>
          </div> 
      </div>
  </div>
  <!--team-2-->

  <!--team-3-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="tools" (click)="onToolsClick()">                            
              <h1><i class="fa fa-wrench fa-lg"></i>Tools</h1>
              <p>1st Tool</p>
              <p>2nd Tool</p>
              <p>3rd Tool</p>
          </div> 
      </div>
  </div>
  <!--team-3-->

  <!--team-4-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="history" (click)="onHistoryClick()">                            
              <h1><i class="fa fa-calendar fa-lg"></i>History</h1>
              <p>Last pick</p>                            
          </div>      
      </div>
  </div>
  <!--team-4-->            

  <!--team-5-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="statistics" (click)="onStatisticsClick()">                            
              <h1><i class="fa fa-bar-chart fa-lg"></i>Statistics</h1>
              <p>Balance</p>
              <p>Very important stat</p>
          </div> 
      </div>
  </div>
  <!--team-5-->

  <!--team-6-->
  <div class="col-xl-4">
      <div class="our-team-main">                
          <div class="wikipedia" (click)="onWikipediaClick()">                            
              <h1><i class="fa fa-university fa-lg"></i>Wikipedia</h1>
              <p>1st Article</p>
              <p>2nd Article</p>
          </div> 
      </div>
  </div>
  <!--team-6--> 
</div>
